
body{
    margin: 0!important;
    .navbar{
        .fill-remaining-space {
        flex: 1 1 auto;
        }


    }
    .sidenav {
        width: 15%;
        padding: 0;
        margin-top: 64px;
        .sidenav-content {
            height: 100%;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-width: 160px!important;
            // /*border-right: 1px solid grey;*/
            box-shadow: 0 0 3px grey;
        }
        .sidenav-list a{
            text-align: center;
        }

    }

}









