<div class="authContainter">
  <md-card fxLayout="column" class="authBox">
    <md-card-header fxFlex >
      <md-card-title>SomeThing</md-card-title>
    </md-card-header>
    <md-card-content fxFlex fxLayout="column">
      <md-input-container fxFlex class="authInputElement">
        <input mdInput placeholder="Favorite food" value="Sushi">
      </md-input-container>
      <md-input-container fxFlex class="authInputElement">
        <input mdInput placeholder="Favorite food" value="Sushi">
      </md-input-container>

    </md-card-content>
  </md-card>
</div>