

<div fxFlexOffset.gt-sm="16" fxLayout="column" class="HomeCardContent">
  <md-card>
    <md-card-title>Statystyki</md-card-title>
    <md-card-content fxLayout="row">
      <div fxFlex>
        <!--<div class="example-container mat-elevation-z8">-->
          <!--<md-table #table [dataSource]="dataSource">-->

            <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
                  <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

            <!--&lt;!&ndash; ID Column &ndash;&gt;-->
            <!--<ng-container cdkColumnDef="userId">-->
              <!--<md-header-cell *cdkHeaderCellDef> ID </md-header-cell>-->
              <!--<md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>-->
            <!--</ng-container>-->

            <!--&lt;!&ndash; Progress Column &ndash;&gt;-->
            <!--<ng-container cdkColumnDef="progress">-->
              <!--<md-header-cell *cdkHeaderCellDef> Progress </md-header-cell>-->
              <!--<md-cell *cdkCellDef="let row"> {{row.progress}}% </md-cell>-->
            <!--</ng-container>-->

            <!--&lt;!&ndash; Name Column &ndash;&gt;-->
            <!--<ng-container cdkColumnDef="userName">-->
              <!--<md-header-cell *cdkHeaderCellDef> Name </md-header-cell>-->
              <!--<md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>-->
            <!--</ng-container>-->

            <!--&lt;!&ndash; Color Column &ndash;&gt;-->
            <!--<ng-container cdkColumnDef="color">-->
              <!--<md-header-cell *cdkHeaderCellDef>Color</md-header-cell>-->
              <!--<md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>-->
            <!--</ng-container>-->

            <!--<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>-->
            <!--<md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>-->
          <!--</md-table>-->
        <!--</div>-->
      </div>
    </md-card-content>
  </md-card>
</div>